    .alignment-wrapper {
        border-bottom: 1px solid blue;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        
        .text.left {
            text-align: left;
        }

        .text.center {
            text-align: center;
        }

        .text.right {
            text-align: right;
        }
    }