.toggle-clock {
    @include row-format();
    border-right: 1px solid blue;

    .updown-btn {
        width: 40px;
    }

    #clock {
        padding-bottom: 12px;
    }
    
        
}

.toggle-clock-wrapper {
    @include two-columns();
}